.container {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(180deg, #7755ff 0%, #6943ff 0%, #2f2ce9 100%);
	border-radius: 32px;
	color: #cac9ff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px;
	z-index: 2;
}

.header {
	font-size: 24px;
	font-weight: 700;
}

.result {
	background: linear-gradient(
		180deg,
		#4d21c9 0%,
		rgba(37, 33, 201, 0) 100%,
		rgba(37, 33, 201, 0) 100%
	);
	border-radius: 50%;
	width: 200px;
	height: 200px;

	flex-direction: column;
}

.points {
	font-size: 4.5rem;
	font-weight: 800;
	line-height: 4.5rem;
	color: white;
}
.total {
	font-size: 1.125rem;
	font-weight: 700;
	opacity: 0.5168;
}

.title {
	font-size: 2rem;

	font-weight: 700;
	margin-bottom: 0.875rem;
}
.text {
	font-size: 1.125rem;
	font-weight: 500;
}
