@import 'normalize.css'; /* preguntar */

body {
	box-sizing: border-box; /* preguntar */
	font-family: 'Hanken Grotesk', sans-serif;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__body {
	margin: 0 auto;
	display: flex;
	height: 512px;
	width: 736px;
	position: relative;

	background-color: white;
	border-radius: 32px;
	box-shadow: 5px 5px 5px rgb(197, 196, 196);
}

/* .card__body--left {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2; 
} */

/* .card__body--right {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1; 
} */
